Source: spreedbox-turn
Section: web
Priority: standard
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>
Build-Depends:
 dpkg-dev (>= 1.16.1~),
 cdbs,
 debhelper,
 dh-buildinfo,
 config-package-dev (>= 5.0~)
Standards-Version: 3.9.3

Package: spreedbox-turn
Architecture: all
Depends:
 coturn,
 logrotate,
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Package to install TURN functionality on the Spreedbox
 This package installs TURN functionality on the Spreedbox.
